body {
    font-family: Georgia;
    background-color: #fbf3e3;
    padding: 25px;
    font-size: 100%;
    color: #BC976C;
}

h1 {
  color: #AD7B3A;
  font-family: "Georgia";
  margin-left: 20px;
  margin-right: auto;
  text-align: left;
}

h2, h3 {
    font-family: "Georgia", monospace;
    color: #AD7B3A;
}
