body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color:  #3A3A43;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: #9CA098;
    border: none;
    height: 85vh;
}

h1 {
  color: white;
  font-family: impact;
}

h2, h3 {
    font-family: "Georgia", monospace;
    color: #9C31AA;
}

img {
    float: right;
    width: 400px;
    height: auto;
}

a {
    text-decoration: none;
    color: #3A3A43;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
