@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fbf3e3;
    padding: 25px;
    font-size: 20px;
    letter-spacing: 1px;
    font-size: 15px;
}

p {
    color: black;
}

h1 {
  color: white;
  font-family: 'DM Serif Text', serif;
  text-align: center;
  font-size: 60px;
}

h2, h3 {
    font-family: 'DM Serif Text', serif;
    color: #AD7B3A;
    font-size: 30px;
}

img {
  width: 150px;
  display: block;
  width: 90%;
}

div#extra-stuff {
  background-color: #D4DEE3;
  padding: 50px;
  margin: 20px;
  display: inline-block;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}
div.original{
        width: 200px;
        height: 150px;
}

div.crop{
        width: 200px;
        height: 150px;
        overflow: hidden;
}

.crop img {
        width: 400px;
        height: 300px;
        margin: -20px 0 0 -50px;
}


a{
  font-family: Georgia;
  text-decoration: none;
  color: white;
  font-size: 15px;
}

li{
  color: black;
}

a#hover {
  text-decoration: underline;
  color: #AD7B3A;
}

div#heading {
  display: block;
  background-color: #D4DEE3;
  padding: 50px;
  margin: 0px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

div#floated {
float: right;
width: 30%;
display: inline-block;
margin-top: 10px;
margin-left: 50px;
margin-right: 50px;
margin-bottom: 50px;
}

div#center-horz {
  margin: auto;
  width: 30%;
  padding: 10px;
}

div#center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

div#center-both {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

div#content {
    background-color: white;
    padding: 50px;
    border: none;
    color: #AD7B3A;
    height: 1500px;
    position: absolute;
    display: inline-block;
    margin-right:10px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}

div.challenge {
  display: block;

}

div.problem {
  display: block;
}

div.results {
  display: block;
}

nav {
  position: sticky;
  top: 0;
  left:0;
}

.links {
  background-color: #AD7B3A;
  overflow: hidden;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}


.links a {
  font-family: 'DM Serif Text', serif;
  color: white;
  font-size: 30px;
  float: left;
  text-align: center;
  padding: 14px 16px;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 0px;
}


.links a:hover {
  background-color: white;
  color: #AD7B3A;
}


.links a.active {
  background-color: #4CAF50;
  color: white;
