body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #fbf3e3;
    padding: 25px;
    font-size: 120%;
}

div#content {
    padding: 50px;
    background-color: white;
    border: none;
    height: 85vh;
}

h1 {
  color: green;
  font-family: Georgia;
  text-align: center;
}

h2, h3 {
    font-family: "Georgia", monospace;
    color: #9C31AA;
}

img {
    width: 200px;
    height: auto;
}

a {
    text-decoration: none;
    color: #929072;
}
a:hover {
    text-decoration: underline;
}
